services:
  # ==================== ICEBERG ====================
  hive-metastore:
    build: ./iceberg
    container_name: hms
    depends_on:
      - minio
    ports:
      - "9083:9083"
    environment:
      HMS_LOGLEVEL: INFO
    healthcheck:
      test: ["CMD", "bash", "-c", "exec 6<> /dev/tcp/localhost/9083"]
      interval: 10s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9091:9000"
      - "9001:9001"
    command: ["server", "--console-address", ":9001", "/data"]
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password

  createbuckets:
    image: quay.io/minio/mc:latest
    container_name: createbuckets
    depends_on:
      - minio
    restart: on-failure
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      /usr/bin/mc alias set minio http://minio:9000 admin password;
      /usr/bin/mc mb minio/warehouse;
      /usr/bin/mc policy set public minio/warehouse;
      exit 0;
      "

  pyiceberg:
    image: python:3.12-bookworm
    container_name: pyiceberg
    depends_on:
      - hive-metastore
      - minio
    environment:
      PYICEBERG_CATALOG__DEFAULT__URI: thrift://hms:9083
      PYICEBERG_CATALOG__DEFAULT__S3__ACCESS_KEY_ID: admin
      PYICEBERG_CATALOG__DEFAULT__S3__SECRET_ACCESS_KEY: password
      PYICEBERG_CATALOG__DEFAULT__S3__PATH_STYLE_ACCESS: "true"
      PYICEBERG_CATALOG__DEFAULT__S3__ENDPOINT: http://minio:9000
    entrypoint: |
      /bin/sh -c "
      pip install -q pyiceberg[s3fs,hive,pyarrow];
      sleep infinity
      "

networks:
  default:
    name: zaphod
    external: true
