# ./flink-job-submitter.yaml
{{- if and .Values.flink.enabled .Values.flink.sqlJobs.enabled }}
# ========================== # Flink SQL Job Submitter # ========================== 
apiVersion: batch/v1
kind: Job
metadata:
  name: flink-sql-submitter
  namespace: {{ include "data-platform.namespace" . }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    # "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  backoffLimit: 4
  template:
    metadata:
      labels:
        app: flink-sql-submitter
    spec:
      initContainers:
        - name: wait-for-flink-ready
          image: bitnami/kubectl:latest 
          imagePullPolicy: IfNotPresent
          env:
            - name: NAMESPACE
              value: {{ include "data-platform.namespace" . }}
          command: ["/bin/bash", "-c"]
          args:
            - |
              echo "Waiting for flink-jobmanager (Deployment) to be ready..."
              kubectl wait --for=condition=Available deployment/flink-jobmanager -n $NAMESPACE --timeout=120s
              echo "Waiting for flink-taskmanager (Deployment) to be ready..."
              kubectl wait --for=condition=Available deployment/flink-taskmanager -n $NAMESPACE --timeout=120s
              echo "Flink cluster is ready. Proceeding with job submission."
      
      restartPolicy: OnFailure 
      serviceAccountName: default 
      containers:
        - name: sql-submitter
          image: "{{ .Values.flink.image }}:{{ .Values.flink.tag }}" 
          imagePullPolicy: {{ .Values.flink.pullPolicy }}
          # Lá»‡nh submit job
          args: ["sql-client.sh", "-f", "/opt/flink/jobs/kafka-to-iceberg.sql", "-s", "auto-submitted-session"]
          env:
            - name: FLINK_CONF_DIR 
              value: /opt/flink/conf
            - name: FLINK_PROPERTIES
              value: |
                rest.address: flink-jobmanager
                rest.port: {{ .Values.flink.jobManager.port }}
          volumeMounts:
            - name: hive-conf 
              mountPath: /opt/flink/conf/hive-site.xml 
              subPath: hive-site.xml
            - name: flink-sql 
              mountPath: /opt/flink/jobs/kafka-to-iceberg.sql 
              subPath: kafka-to-iceberg.sql
      volumes:
        - name: hive-conf
          configMap: 
            name: hive-site-xml
        - name: flink-sql
          configMap: 
            name: flink-sql-jobs
{{- end }}