apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: {{ include "data-platform.namespace" . }}
spec:
  type: NodePort
  ports:
    - name: api
      port: 9000
      targetPort: 9000
    - name: console
      port: 9001
      targetPort: 9001
      nodePort: {{ .Values.minio.nodePort }}
  selector:
    app: minio

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  namespace: {{ include "data-platform.namespace" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      initContainers:
          - name: fix-permissions
            image: busybox
            command: ["sh", "-c", "mkdir -p /data-filtered/warehouse && chown -R 1000:1000 /data-filtered"]
            volumeMounts:
              - name: data-filtered
                mountPath: /data-filtered
      containers:
        - name: minio
          image: "{{ .Values.minio.image }}:{{ .Values.minio.tag }}"
          imagePullPolicy: IfNotPresent
          args:
            - server
            - /data-filtered
            - --console-address
            - :9001
          ports:
            - containerPort: 9000
            - containerPort: 9001
          env:
            - name: MINIO_ROOT_USER
              value: "{{ .Values.minio.accessKey }}"
            - name: MINIO_ROOT_PASSWORD
              value: "{{ .Values.minio.secretKey }}"
          volumeMounts:
            - name: data-filtered
              mountPath: /data-filtered
      volumes:
        - name: data-filtered
          emptyDir: {}