apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafdrop
  namespace: data-platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafdrop
  template:
    metadata:
      labels:
        app: kafdrop
    spec:
      containers:
        - name: kafdrop
          image: obsidiandynamics/kafdrop
          ports:
            - containerPort: 9000
          env:
            - name: KAFKA_BROKERCONNECT
              value: "kafka.data-platform.svc.cluster.local:9092"
          readinessProbe:
            httpGet:
              path: /
              port: 9000
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: kafdrop
  namespace: data-platform
spec:
  type: NodePort
  selector:
    app: kafdrop
  ports:
    - port: 9000 # cluster port
      targetPort: 9000 # inside container
      nodePort: 30090 # open on localhost:30090
