apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-producer
  namespace: data-platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-producer
  template:
    metadata:
      labels:
        app: kafka-producer
    spec:
      containers:
        - name: producer
          image: kafka-producer:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: "kafka.data-platform.svc.cluster.local:9092"
